.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.labels {
    display: flex;
    flex-direction: column;
    font-size: small;
    gap: 0;
    padding: 0;
    margin-left: 2rem;
}

ul {
    list-style-type: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    flex-direction: column;
}